{% extends "base.html" %}
{% block title %}Prehľad{% endblock %}
{% block content %}
<h1>Prehľad</h1>
<p>Ahoj {{ meno }}, tvoja rola je {{ rola }}.</p>

{% if rola == "OPERATOR" %}
    <ul>
        <li><a href="{{ url_for('registrovat_klienta') }}">Registrácia klienta</a></li>
        <li><a href="{{ url_for('vytvor_ucet_web') }}">Vytvorenie účtu</a></li>
        <li><a href="{{ url_for('klienti_prehlad') }}">Zobraziť všetkých klientov</a></li>
        <li><a href="{{ url_for('ucty_prehlad') }}">Zobraziť všetky účty</a></li>
    </ul>
{% else %}
    <ul>
        <li><a href="{{ url_for('moje_ucty') }}">Moje účty</a></li>
    </ul>
{% endif %}
{% endblock %}
