{% extends "base.html" %}
{% block title %}MojaBanka - Domov{% endblock %}
{% block content %}
<h1 class="mb-3 text-center">Vitajte v BanqeMS</h1>

<p class="text-center text-muted mb-4">
    Jednoduchá banková aplikácia, financie po ruke vždy a všade
</p>

<div class="d-flex justify-content-center gap-3 flex-wrap">
    <a href="{{ url_for('login') }}" class="btn btn-primary px-4">
        Prihlásiť sa
    </a>
    <a href="{{ url_for('verejny_vklad') }}" class="btn btn-outline-secondary px-4">
        Verejný vklad na účet
    </a>
</div>
{% endblock %}
