{% extends "base.html" %}
{% block title %}Moje účty{% endblock %}
{% block content %}
<h1 class="mb-3 text-center">Moje účty</h1>

{% if not ucty %}
    <p class="text-center text-muted">Nemáš žiadne účty.</p>
{% else %}
<table class="table table-striped table-hover align-middle">
    <thead>
        <tr>
            <th>Číslo účtu</th>
            <th>Typ</th>
            <th>Zostatok</th>
            <th>Úrok</th>
            <th>Akcie</th>
        </tr>
    </thead>
    <tbody>
        {% for u in ucty %}
        <tr>
            <td>{{ u.cislo_uctu }}</td>
            <td>{{ u.typ }}</td>
            <td>{{ u.zostatok }}</td>
            <td>{{ u.urok }} %</td>
            <td>
                <a href="{{ url_for('detail_uctu', cislo_uctu=u.cislo_uctu) }}"
                   class="btn btn-sm btn-outline-secondary">
                    Detail / operácie
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
