{% extends "base.html" %}
{% block title %}Registrácia klienta{% endblock %}
{% block content %}
<h1 class="mb-3 text-center">Registrácia klienta</h1>

{% if chyba %}
    <div class="alert-error">{{ chyba }}</div>
{% endif %}
{% if sprava %}
    <div class="alert-success-custom">{{ sprava }}</div>
{% endif %}

<form method="post" class="mx-auto" style="max-width: 500px;">
    <div class="mb-3">
        <label class="form-label">Meno</label>
        <input class="form-control" type="text" name="meno" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Priezvisko</label>
        <input class="form-control" type="text" name="priezvisko" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" name="email" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Heslo</label>
        <input class="form-control" type="password" name="heslo" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Rola</label>
        <select class="form-select" name="rola">
            <option value="MAJITEL">Majiteľ</option>
            <option value="OPERATOR">Operátor</option>
        </select>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-4">Vytvoriť klienta</button>
    </div>
</form>
{% endblock %}
